@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./fonts/Inter-Regular.woff2) format("woff2"),
        url(./fonts/Inter-Regular.woff) format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(./fonts/Inter-Black.woff2) format("woff2"),
        url(./fonts/Inter-Black.woff) format("woff");
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(./fonts/Inter-Bold.woff2) format("woff2"),
        url(./fonts/Inter-Bold.woff) format("woff");
}

.page {
    margin: 0 auto;
    max-width: 1280px;
    background-color: #2A2C2F;
    font-family: 'Inter', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}

.header {
    margin: 0;
    padding: 28px 48px 0 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: block;
}

.header__lang-link {
    display: inline-block;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.2;
    text-decoration-line: underline;
    color: #FFFFFF;
    padding-right: 18px;
    text-align: center;
}

.header__lang-link_en {
    text-decoration-line: none;
    padding-right: 0;
}

.lead {
    margin: 0;
    padding: 56px 24px 0 24px;
}

.lead__title {
    margin: 0 auto;
    padding: 0;
    max-width: 720px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 1.04;
    text-align: center;
    color: #FFFFFF;
}

.lead__subtitle {
    margin: 0 auto;
    padding-top: 32px;
    max-width: 640px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    color: #FFFFFF;
}

.route {
    max-width: 984px;
    margin: 0 auto;
    padding-top: 64px;
}

.route__img {
    width: 100%;
}

.route__caption {
    margin: 0;
    padding-top: 8px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.intro {
    max-width: 690px;
    margin: 0;
    padding-top: 92px;
    padding-bottom: 92px;
    padding-left: 148px;
}

.intro__title {
    margin: 0;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 1.07;
    color: #FFFFFF;
}

.intro__subtitle {
    margin: 0;
    padding-top: 40px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #FFFFFF;
}

.intro__list {
    margin: 0;
    padding-left: 0;
    padding-top: 33px;
    list-style: none;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.5;
    color: #FFFFFF;
}

.photo-grid {
    margin: 0 auto;
    display: grid;
    padding-bottom: 92px;
    min-height: 671px;
    max-width: 1184px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
}

.photo-grid__item {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.place {
    margin: 0 auto;
    max-width: 984px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 80px;

}

.place:last-of-type {
    padding-bottom: 92px;
}

.place__title {
    margin: 0;
    padding-bottom: 48px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    color: #FFFFFF;
}

.place__cell {
    width: calc(50% - 20px);
}

.place__url {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 48px;
}

.place__url-title {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 2px;
    color: #AAAAAA;
    text-transform: uppercase;
    padding-bottom: 12px;
}

.place__link {
    display: inline-block;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    text-decoration-line: underline;
    color: #FFFFFF;
}

.place__link:hover {
    opacity: 0.8;
}

.place__img {
    width: 100%;
}

.place__paragraph {
    margin-top: 0;
    margin-bottom: 26px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.63;
    color: #FFFFFF;
}

.cover {
    max-width: 1184px;
    min-height: 740px;
    margin: 0 auto;
    background-size: cover;
    background-image: url(./sprint-3-images/cover-trains.jpg);
    position: relative;
}

.cover::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #2A2C2F;
    opacity: 0.3;
}

.cover__title {
    max-width: 560px;
    text-align: center;
    margin: 0 auto;
    padding-top: 245px;
    position: relative;
    z-index: 1;

}

.cover__title-link {
    text-decoration: none;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    color: #FFFFFF;
}

.cover__subtitle {
    max-width: 360px;
    padding-top: 32px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    color: #FFFFFF;
    position: relative;
    z-index: 1;
}

.footer {
    margin: 0 auto;
    padding: 92px 48px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;

}

.footer__list-item {
    margin: 0;
    padding-right: 18px;
}

.footer__link {
    text-decoration: none;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1;
    color: #FFFFFF;
}

.footer__link:hover {
    opacity: 0.8;
}

.footer__copyright {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    color: #FFFFFF;
}

@media screen and (max-width: 768px) {
    .header {
        padding: 28px 24px 0 24px;
    }
}

@media screen and (max-width: 560px) {
    .header {
        padding: 16px 16px 0 16px;
    }
}

@media screen and (max-width: 560px) {
    .header__logo {
        max-width: 142px;
    }
}

@media screen and (max-width: 560px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 1.11;
    }
}

@media screen and (max-width: 1024px) {
    .lead {
        padding-top: 48px;
    }
}

@media screen and (max-width: 560px) {
    .lead {
        padding: 48px 16px 0 16px;
    }
}

@media screen and (max-width: 750px) {
    .lead__title {
        font-size: 64px;
        line-height: 1.1;
    }
}

@media screen and (max-width: 560px) {
    .lead__title {
        max-width: 288px;
        font-size: 40px;
        line-height: 1.1;
    }
}

@media screen and (max-width: 560px) {
    .lead__subtitle {
        padding-top: 16px;
        max-width: 288px;
        font-size: 16px;
        line-height: 1.25;
    }
}

@media screen and (max-width: 1024px) {
    .route {
        max-width: 928px;
        padding-top: 56px;
    }
}

@media screen and (max-width: 768px) {
    .route {
        width: 100%;
        margin: 0;
    }
}

@media screen and (max-width: 560px) {
    .route {
        width: 100%;
        margin: 0;
        padding-top: 40px;
    }
}

@media screen and (max-width: 560px) {
    .route__caption {
        padding-left: 16px;
    }
}

@media screen and (max-width: 1024px) {
    .intro {
        padding-left: 48px;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        padding-left: 24px;
        padding-top: 88px;
    }
}

@media screen and (max-width: 560px) {
    .intro {
        padding-left: 16px;
        padding-top: 64px;
    }
}

@media screen and (max-width: 560px) {
    .intro__title {
        font-size: 32px;
        line-height: 1.09;
    }
}

@media screen and (max-width: 560px) {
    .intro__subtitle {
        padding-right: 16px;
    }
}

@media screen and (max-width: 1024px) {
    .photo-grid {
        min-height: 942px;
        max-width: 928px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 14px;
    }
}

@media screen and (max-width: 768px) {
    .photo-grid {
        min-height: 1664px;
        max-width: 720px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
        gap: 16px;
        padding-bottom: 88px;
    }
}

@media screen and (max-width: 560px) {
    .photo-grid {
        min-height: 2724px;
        max-width: 288px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 12px;
        padding-bottom: 64px;
    }
}

@media screen and (max-width: 1024px) {
    .place {
        max-width: 928px;
    }
}

@media screen and (max-width: 960px) {
    .place {
        padding-left: 24px;
        padding-right: 24px;        
    }
}

@media screen and (max-width: 768px) {
    .place {
        max-width: 720px;
        padding-bottom: 73px;
    }
}

@media screen and (max-width: 750px) {
    .place {
        padding-left: 16px;
        padding-right: 16px;        
    }
}

@media screen and (max-width: 560px) {
    .place {
        max-width: 320px;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 50px;
    }
}

@media screen and (max-width: 768px) {
    .place__title {
        font-size: 42px;
        line-height: 1.1;
    }
}

@media screen and (max-width: 560px) {
    .place__title {
        font-size: 32px;
        line-height: 1.09;
        padding-bottom: 32px;
    }
}

@media screen and (max-width: 768px) {
    .place__url-title {
        line-height: 1;
    }
}

@media screen and (max-width: 560px) {
    .place__link {
        padding-bottom: 32px;
    }
}

@media screen and (max-width: 560px) {
    .place__cell {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .place:last-of-type {
        padding-bottom: 90px;
    }
}

@media screen and (max-width: 560px) {
    .place:last-of-type {
        padding-bottom: 66px;
    }
}

@media screen and (max-width: 560px) {
    .place__img {
        width: calc(100% + 32px);
        margin-left: -16px;
    }
}

@media screen and (max-width: 1024px) {
    .cover {
        width: 100%;
        min-height: 640px;
        margin: 0;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        min-height: 480px;
    }
}

@media screen and (max-width: 1024px) {
    .cover__title {
        padding-top: 195px;
    }
}

@media screen and (max-width: 560px) {
    .cover {
        min-height: 200px;
    }
}

@media screen and (max-width: 768px) {
    .cover__title {
        padding-top: 115px;
    }
}

@media screen and (max-width: 560px) {
    .cover__title {
        max-width: 288px;
        padding-top: 33px;
    }
}


@media screen and (max-width: 560px) {
    .cover__title-link {
        font-size: 32px;
        line-height: 1.09;
    }
}

@media screen and (max-width: 560px) {
    .cover__subtitle {
        max-width: 288px;
        padding-top: 16px;
        font-size: 14px;
        line-height: 1.14;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        padding: 88px 24px 24px;
    }
}

@media screen and (max-width: 560px) {
    .footer {
        padding: 64px 0px 24px 16px;
        display: inline-block;
    }
}

@media screen and (max-width: 560px) {
    .footer__list {
        display: inline-block;
        margin: 0;

    }
}

@media screen and (max-width: 560px) {
    .footer__list-item {
        padding: 0 0 32px 16px;
    }
}

@media screen and (max-width: 560px) {
    .footer__link {
        font-size: 24px;
        line-height: 1;
    }
}

@media screen and (max-width: 560px) {
    .footer__copyright {
        margin: 0;
        padding: 16px 0 24px 16px;
        font-size: 14px;
        line-height: 1;
    }
}