.place__cell {
    width: 50%;
    box-sizing: border-box;
}

.place__cell:nth-child(odd) {
    padding-right: 40px;
}

@media screen and (max-width: 1279px) {
    .place__cell:nth-child(odd) {
        padding-right: 32px;
    }
}

@media screen and (max-width: 1023px) {
    .place__cell:nth-child(odd) {
        padding-right: 28px;
    }
}

@media screen and (max-width: 767px) {
    .place__cell {
        width: 100%;
    }

    .place__cell:nth-child(odd) {
        padding-right: 0;
    }
}