.footer__copyright {
    margin: 0;
    padding-bottom: 24px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    color: #FFFFFF;
}

@media screen and (max-width: 560px) {
    .footer__copyright {
        padding: 16px 0 24px 0;
        line-height: 1;
    }
}