.place__img {
    width: 100%;
}

@media screen and (max-width: 767px) {
    .place__img {
        width: calc(100% + 48px);
        margin-left: -24px;
        padding-bottom: 32px;
    }
}

@media screen and (max-width: 560px) {
    .place__img {
        width: calc(100% + 32px);
        margin-left: -16px;
    }
}