.route {
    max-width: 984px;
    margin: 0 auto;
    padding-top: 64px;
}

@media screen and (max-width: 1024px) {
    .route {
        padding: 56px 48px 0;
    }
}

@media screen and (max-width: 768px) {
    .route {
        width: 100%;
        padding: 56px 0 0;
        margin: 0;
    }
}

@media screen and (max-width: 560px) {
    .route {
        padding-top: 40px;
    }
}