.place__url {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 48px;
}

@media screen and (max-width: 560px) {
    .place__url {
        padding-bottom: 32px;
    }
}